VITE_API_URL=https://heirlock-api.onrender.com
VITE_DEFAULT_ENVIRONMENT=mainnet
VITE_REOWN_PROJECT_ID=
VITE_VALUECHAIN_CHAIN_ID=286623
VITE_VALUECHAIN_RPC=https://mainnet.valuechain.xyz
VITE_VALUECHAIN_EXPLORER=https://main-scan.valuechain.xyz
VITE_VALUECHAIN_NATIVE_SYMBOL=SOSO
VITE_VALUECHAIN_TESTNET_CHAIN_ID=138565
VITE_VALUECHAIN_TESTNET_RPC=https://testnet-v2.valuechain.xyz
VITE_VALUECHAIN_TESTNET_EXPLORER=https://test-scan.valuechain.xyz
VITE_SODEX_APP_URL=https://sodex.com
VITE_SODEX_TESTNET_APP_URL=https://testnet.sodex.com
VITE_SSI_APP_URL=https://ssi.sosovalue.com
VITE_SSI_EARN_URL=https://ssi.sosovalue.com/earn
VITE_SSI_REWARD_URL=https://ssi.sosovalue.com/reward
VITE_BASE_CHAIN_ID=8453
VITE_WSOSO_ADDRESS=0x5050505050505050505050505050505050505050